.body {
	padding-top: calc(var(--index) * 5);
	min-height: 100vh;
	width: 100%;
	background-color: #111111;
	// background-image: url(../../../../pics/back.png);
	z-index: 5;
	position: relative;
}

.gallery {
	padding: 50px 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gallery>* {
	display: flex;
	align-items: center;
	flex-direction: column;
}