main {
	padding-top: calc(var(--index) * 5);
	min-height: 50vh;
	width: 100%;
	background-color: #111111;
	z-index: 5;
	position: relative;
}

.noTalesTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--index) * 3);
	font-family: 'FortuneC';
	color: #fff;
}

.gallery {
	padding: 50px 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gallery > * {
	display: flex;
	align-items: center;
	flex-direction: column;
}
