.Footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(50, 50, 50);
    color: #fff;
    margin-top: calc(var(--index) * 2);
    font-size: calc(var(--index));
}

.Footer>* {
    flex: 1;
    display: flex;
    justify-content: center;
}

.people_container, .contacts_conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    flex-direction: column;
    display: flex;
}