.footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-evenly;
	background-color: rgb(50, 50, 50);
	color: #fff;
	font-family: FortuneC;
	line-height: calc(var(--index) * 1.5);
	padding: calc(var(--index) * 2) 0;
	font-size: calc(var(--index));

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__container {
			flex-direction: column;
			display: flex;
		}
	}

	&__people {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.footer > * {
	flex: 1;
}
