.about,
.about__bug__container,
.about__wrapper,
.about__frame {
	width: 100%;
}

.about,
.about__bug__container,
.about__wrapper {
	height: 100vh;

}

.about {
	position: relative;
	z-index: 4;
	background-color: #111111;
}

.about__bug__container {
	overflow: hidden;
	position: absolute;
	z-index: 5;
}

.about__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__container {
	height: calc(var(--index) * 20);
	width: calc(var(--index) * 20);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	border-radius: 8px;
	font-size: calc(var(--index));
	font-family: FortuneC;
}

.about__title {
	font-size: calc(var(--index) * 2);
	font-family: fontisland;
}

.about__frame {
	height: 15%;
	background-image: url(../../../../pics/about_frame.png);
	background-size: cover;
	filter: invert(1);
}