.about {
	top: -8vh;
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 4;
	background-image: url(/src/pics/MainPage/about__back.png);
	background-size: cover;
	background-position: center center;

	&__wrapper {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__container {
		height: calc(var(--index) * 20);
		width: calc(var(--index) * 20);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		color: #fff;
		border-radius: 8px;
		font-size: calc(var(--index) * 1.5);
		font-family: FortuneC;
	}

	&__title {
		font-size: calc(var(--index) * 3);
		font-family: fontisland;
	}

	&__frame {
		width: 100%;
		height: 10%;
		background-image: url(/src/pics/MainPage/about_frame.png);
		background-size: cover;
		filter: invert(1);
	}
}
