.tale_text {
	text-align: left;
	width: 40%;
	font-size: 1.3rem;
	color: #ddd;
	padding: 2em;
	font-family: FortuneC;
	transition: 0.3s;
}
@media (max-width: 1200px) {
	.tale_text {
		width: 80%;
	}
}
